@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}

body, input, button, select, textarea{
    font-family: 'Poppins', sans-serif;
    color: white;
}

html, body{
    margin: 0;
    background: var(--bg-dark);
}

:root{
   --purple: #5280E2;
   --green:#15CDCB;
   --bg-dark: #212226;
   --light-gray: #E0DEDE;
}

h1{
    font-size: 44px;
}

h2{
    font-size: 24px;
}
p{
    color: var(--light-gray);
}
button{
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    font-weight: bold;
    color: white;
}

/* Aqui começa o projeto */

header{
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
}

header .container{
    width: 50%;
    height: fit-content;
    padding-left: 100px; 
}

header .container h1{
    color: var(--green);
}

header .container button{
    margin-top: 40px;
}

nav{
    background: var(--bg-dark);
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

header .container img{
    display: none;
}
nav img{
    height: 45px;
}

nav ul{
    width: 70%;
    display: flex;
    justify-content: space-around;   
    font-size: 20px;
    font-weight: 300;
    
}

nav ul a{
    text-decoration: none;
    color: var(--green);    
}
nav ul a svg{
    display: none;
}

section{
    height: 1200px;
}

/* Responsividade */

/* Small Pc*/

@media (max-width: 1000px){
    header .container{
        width: 100%; 
        padding: 0 30px;
    }
    nav{
        padding: 0 30px;
    }

    header .container button{
        margin-top:15px;
    }
}
/* Tablet */

@media (max-width: 767px){
   
    header .container img{
        display:inline ;
        margin-bottom: 40px;
        height: 45px;
    }
    nav img{
        display: none;
    }

    nav ul{
        width: 100%;
        justify-content: space-between;
        font-size: 16px;
        padding-left: 0;
        
    }
    nav ul a svg{
        display: block;
        margin: 0 auto 10px;
    }
}

/* Celular*/

@media (max-width: 400px){
    
    header .container h1{
        font-size: 22px;
    }
    header .container h2{
        font-size: 18px;
    }

    header .container p{
        font-size: 12px;
    }

    nav{
        padding: 0 10px;
        position: fixed;
        top: unset;
        bottom:0;
        width: 100%;
    }
    nav ul{
         font-size: 12px;
    }

  

}
